Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-ca-central-1-275003555771"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
        listen       443;
        server_name  localhost;

        ssl                  on;
        ssl_certificate      /etc/pki/tls/certs/server.crt;
        ssl_certificate_key  /etc/pki/tls/certs/server.key;

        ssl_session_timeout  5m;

        ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers   on;

        # For enhanced health reporting support, uncomment this block:

        #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
        #    set $year $1;
        #    set $month $2;
        #    set $day $3;
        #    set $hour $4;
        #}
        #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        #access_log  /var/log/nginx/access.log  main;

        location / {
          proxy_pass  http://nodejs;
          proxy_set_header   Connection "";
          proxy_http_version 1.1;
          proxy_set_header        Host            $host;
          proxy_set_header        X-Real-IP       $remote_addr;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header        X-Forwarded-Proto https;
        }
      }

  # Public key
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEMjCCAxoCCQDLPJ9l87pTeDANBgkqhkiG9w0BAQsFADCB2jELMAkGA1UEBhMC
      Q0ExGTAXBgNVBAgMEEJyaXRpc2ggQ29sdW1iaWExFDASBgNVBAcMC01hcGxlIFJp
      ZGdlMRAwDgYDVQQKDAdTY2hhcGVyMRgwFgYDVQQLDA9XZWIgRGV2ZWxvcG1lbnQx
      RDBCBgNVBAMMO2ZiY3dvcnNoaXAtZW52LjVkZm14a3VobWMuY2EtY2VudHJhbC0x
      LmVsYXN0aWNiZWFuc3RhbGsuY29tMSgwJgYJKoZIhvcNAQkBFhlkZXJlay5qLnNj
      aGFwZXJAZ21haWwuY29tMB4XDTE4MDgwNzAyMzY0N1oXDTE5MDgwNzAyMzY0N1ow
      gdoxCzAJBgNVBAYTAkNBMRkwFwYDVQQIDBBCcml0aXNoIENvbHVtYmlhMRQwEgYD
      VQQHDAtNYXBsZSBSaWRnZTEQMA4GA1UECgwHU2NoYXBlcjEYMBYGA1UECwwPV2Vi
      IERldmVsb3BtZW50MUQwQgYDVQQDDDtmYmN3b3JzaGlwLWVudi41ZGZteGt1aG1j
      LmNhLWNlbnRyYWwtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEoMCYGCSqGSIb3DQEJ
      ARYZZGVyZWsuai5zY2hhcGVyQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBAN9vYWTqNtxoXMhjwy36NtEhgZdgPq+C54J8cXYzQ+xETdu9
      4zzsyLBbT/utvpihFmN1v0O54K4WdgNOPtYfYJws4u/LlCwm/kf5uTfAWSGv30la
      8KJzpijJ6iGfGOfbj0QFA2pojYAQYnTxmcOzK0HcGi23Z+iy9HW4+amLEHMDMob4
      +IPpLgx6cafa6GfMYsXh6a/se0ITINlc341CA8YxTAyzGT8c24aTe/gLME/+xpLb
      bZk5icooD2B8LPn38VN4aaILEmkyZ0zS5JD9YtEMQbT/tm5aqkrzCl96D9X7Sgdo
      uyGLaCoB/Yty/dA8cKkNTb2iBY48DefXfNYEC4cCAwEAATANBgkqhkiG9w0BAQsF
      AAOCAQEApOqRDABHXGIALly7t3rxJBAdY1glxnPuyNn4IESGpweeAQckJ2naoVyj
      DmC3PANqHusiUlND9GGBUFxR85UP1aVt9SSSjU9GOTV2PMrz4pYuKO4xio8x64pA
      +n3JYk9HbVULGkHHWQQb0jWDerOz12EfFvKHD7RmwhCrmJ4e1+B33k8KORpIeLKa
      HvdWTOpcAelEH7om9DhM9C4+CK6p5XINwCLxb63I+MprRM8pZVrhEG/648QN3G21
      BdrWyrL0sFfNoVlbUBCXe2O8nbLTmoBTjaidBt55OXUIL7trJjmtNOhdm0JIN533
      BpVZe8E0Hu3kTk8x60Vijtq6yyzmpA==
      -----END CERTIFICATE-----

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-ca-central-1-275003555771/server.key
